attrs              
beautifulsoup4     
blinker            
certifi            
cffi               
charset-normalizer 
click              
colorama           
exceptiongroup     
Flask              
h11                
idna               
itsdangerous       
Jinja2             
joblib             
MarkupSafe         
nltk               
numpy              
outcome            
pandas             
pycparser          
PySocks            
python-dateutil    
pytz               
regex              
requests           
selenium           
six                
sniffio            
sortedcontainers   
soupsieve          
textblob           
tqdm               
trio               
trio-websocket     
typing_extensions  
tzdata             
urllib3            
websocket-client   
Werkzeug           
wsproto            